.avaliações h2 {
        font-family: 'Outfit', sans-serif;
        font-weight: 550;
        color: #281822;
        font-size: 18px;
        padding: 0 40px;
        margin-bottom: 10px;
    }

    hr {
        width: 96%;
        height: 1.5px;
        border: none;
        background-color: #281822;
        opacity: 0.3;
        margin: 0 auto 10px auto;
        margin-bottom: 30px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap; 
        gap: 20px;
        padding: 20px 40px;
        justify-content: center;
    }


    .avCT {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        flex: 1;
        min-width: 400px;
        margin-top: 20px;
        margin-bottom: 40px;
        background: #E9E9E7;
        padding: 15px;
        border-radius: 12px;
        transition: transform 0.3s;
        cursor: pointer;
    }   


    .avCT:hover {
        transform: translateY(-8px); 
        box-shadow: 0 10px 20px rgba(40, 24, 34, 0.15); 
    }

    .img1 {
        width: 200px; 
        height: 200px;
        object-fit: cover;
        border-radius: 4px;
        margin-right: 20px;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: flex-start; 
        align-items: flex-start;
        height: 200px; 
        box-sizing: border-box;
        padding: 0;
    }

    .avCT h1 {
        font-family: 'Fraunces', serif;
        font-size: 22px;
        color: #281822;
        margin: 0! important;
        padding: 0;
        line-height: 1.2;
    }

    .subtitulo {
        font-family: 'Outfit', sans-serif !important;
        font-size: 18px;
        font-weight: 600;
        color: #281822;
        flex-direction: column; 
        margin-top: -5px !important;
        margin-bottom: 10px;
        padding: 0;
        display: block;
        text-align: left;
    }

    .user {
        display: flex;
        color: #281822;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .img2 {
        width: 30px;
        height: 30px;
        border-radius: 50%; 
        object-fit: cover;
        margin-left: -13px;
    }

    .usuario {
        font-family: 'Outfit', sans-serif !important;
        font-size: 15px;
        color: #281822;
        font-weight: 550;
    }

    .stars {
        color: #281822;
        font-size: 20px;
        margin: 0;
        line-height: 1;
    }

    .avCT p {
        font-family: 'Outfit', sans-serif !important;
        color: #281822;
        font-size: 18px !important;
        line-height: 1.4;
        font-weight: 500;
        margin: 5px 0;
        flex-grow: 1;
    }

    .data {
        font-family: 'Outfit', sans-serif;
        font-size: 12px;
        color: #666;  
        margin-top: auto;
    }