@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  /* Remova o margin/padding daqui, o '*' já resolve */
}

/* Garante que o box-sizing seja herdado corretamente */
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding-top: 70px;
    background-color: #F8F8F8;
  /* As fontes globais devem ser declaradas aqui no body também */
}